<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width",  initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<title>Mary Lark - Full Stack Engineer</title>
		<link rel="stylesheet" type="text/css" href="../../css/quiz-style.css">
        <script src="./quiz.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
	</head>

	<body>
            <h2><center>Vue 3 Quiz</center></h2>
            <center><button class="buttonClass quizNbr" id="quiz7", style="display: inline-block">Start Quiz</button></center>
                <!-- REMEMBER TO INCREMENT THE QUIZ NUMBER IN THE START QUIZ BUTTON!!! -->
            <div id="quiz" style="margin: 30px; display: none;">
                <center><button id="resetButton">Reset Quiz</button></center>

                <div class="question" id="q-setup-1">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you install and run a new vue project?</p>
                    <div class="answer">
                        <p>
                            <ol>
                                <li><code>sudo npm install -g @vue/cli</code></li>
                                <li><code>vue create my-app</code></li>
                                <li><code>cd my-app</code></li>
                                <li><code>npm run serve</code> or <code>yarn serve</code></li>
                            </ol>
                        </p>
                    </div>
                </div>
                <div class="question" id="q-2">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What are the two styles of writing vue?</p>
                    <div class="answer">
                        <p><ol>
                            <li>Options:  
                                <ul>
                                    <li>Options is an object: Uses Data, Method and Mounted keys</li>
                                    <li>No &lt;script&gt; tag surrounds Options.  Just export the options object</li>
                                    <li>Good for smaller apps and class based apps -- can use <code>this</code> component instance</li>
                                </ul>
                            </li>
                            <li>Composition
                            <ul>
                                <li>Uses &lt;script&gt; tag for javascript code</li>
                                <li>use <code>&lt;script setup&gt;</code> so you do not have to explicitly export vars</li>
                            </ul>
                            </li>
                        </ol></p>
                    </div>
                </div>
                <div class="question" id="q-2.1">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you create a Vue3 app?</p>
                    <div class="answer">
                        <ol>
                                <li>In App.js:<br>
                                    import { createApp } from 'vue';

                                    const app = createApp({
                                      data() {
                                        return {
                                          count: 0
                                        }
                                      }
                                    });
                                    
                                    app.mount('#app')</li>
                                <li>In the markup section:<br>
                                    &lt;div id="app"&gt;<br>
                                    &lt;button @click="count++"&gt;{{ count }} &lt;/button&gt;<br>
                                    &lt;/div&gt;
                                </li>
                                <li>Then, after all setup is done, mount the application, using a "container" arg or an element id:<br>
                                    app.mount('#app');
                                </li>
                        </ol>
                    </div>
                </div>
                <div class="question" id="q-2.2">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What is a directive?  Give a few examples of directives.</p>
                    <div class="answer">
                        <p>A directive is a special attribute.</p>
                        <p>v-html, v-&lt;AnythingFollowingv-&gt;</p>
                    </div>
                </div>
                <div class="question" id="q-2.3">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you print out actual html using interpolation?</p>
                    <div class="answer">
                        <p>Just use the double mustache:  {{ rawHtml }}</p>
                    </div>
                </div>
                <div class="question" id="q-2.4">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you print out the interpreted html value?</p>
                    <div class="answer">
                        <p>&lt;p&gt;span v-html="rawHtml"&gt;&lt;/span&gt;</p>
                        <p>Prints:  <span style="color:red">This should be red.</span></p>
                    </div>
                </div>
                <div class="question" id="q-3">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What must a reactive var type be?</p>
                    <div class="answer">
                        <p>Object or array; No primitives;</p>
                    </div>
                </div>
                <div class="question" id="q-3.1">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What are two reactive state vars?</p>
                    <div class="answer">
                        <p>reactive =Object or array; ref() for primitives other non objects or non array types.</p>
                    </div>
                </div>
                
                <div class="question" id="q-4">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you create a reactive var from a primitive or any type that is not an object or array?</p>
                    <div class="answer">
                        <p><code>const count = ref(0)</code></p>
                        <p>Use the ref() method, passing in the value.  This creates an object with value key.</p>
                    </div>
                </div>
                <div class="question" id="q-5">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you retrieve the value of a nested object?</p>
                    <div class="answer">
                        <p>Either deconstruct the object's key for the value or explicitly give the path to the nested value.</p>
                        <p>Test this to make sure I understand how to do this.</p>
                    </div>
                </div>
                <div class="question" id="q-5">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you retrieve the value of the following constants?<br>
                    <ol>
                        const myArray = reactive( [1,2,3]);
                        const counter = reactive ( {count: 0});
                        const myString = ref('Foo Bar');
                    </ol></p>
                    <div class="answer">
<pre><code><script setup>
    import { ref, reactive } from 'vue';
    
     const myArray = reactive( [1, 2, 3]);
     const counter = reactive({count: 0});
     const myString = ref('Foo Bar');
    </script>
    
    <template>
      <h2>
        Values of the items without dereferencing
      </h2>
      <ol>
        <li>{{myArray}}</li>
        <li>{{counter}}</li>
        <li>{{myString}}</li>
      </ol>
      
      <h2>
        Values of the items dereferencing
      </h2>
       <ol>
         <li>{{myArray[0].value}}        // note no value for myArray[0].value </li>
         <li>{{myArray[0]}}</li>
         <li>{{counter.count.value}}     //note no value for reactive.value </li>
         <li>{{counter.count}}</li>
        <li>{{myString.value}}           // note no value for ref().value </li> 
      </ol>
    </template></code></pre>
    <h2>Values of the items without dereferencing</h2>
    <ol>
        <li>[1, 2, 3 ]</li>
        <li>{ "count":0 }</li>
        <li>Foo Bar</li>
    </ol>
    <h2>Values of the items dereferencing</h2>
    <ol>
        <li>     // note no value for myArray[0].value</li>
        <li>1</li>
        <li>     // note no value for reactiveVar.value</li>
        <li>0</li>
        <li>     // note no value for ref().value</li>
    </ol>
                        
                    </div>
                </div>
                <div class="question" id="q-5.1">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">In a &lt;script setup&gt; block,  which variables can be used as state variables directly in the template?</p>
                    <div class="answer">
                        <p>A reactive state declared in the &lt; script setup &gt; block. e.g.:<br>
<pre><code>&lt;h1&gt;{{ message }} &lt;/h1&gt;</code></pre>  <br>
<pre><code</code></pre><br><br>Note:  message.value was not needed for ref() values in templates.</p>

                    </div>
                </div>
                <div class="question" id="q-5.1">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you define a directive inside an element?</p>
                    <div class="answer">
                        <p>&lt;div v-bind:id="dynamicId"&gt;&lt;/div&gt;</p>
                    </div>
                </div>
                <div class="question" id="q-5.2">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What is the shorthand for v-bind:id?</p>
                    <div class="answer">
                        <p>&lt;div :id="dynamicId"&gt;&lt;/div&gt;</p>
                    </div>
                </div>
                <div class="question" id="q-6">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you add an event listener from the DOM or a custom event in your HTML element?</p>
                    <div class="answer">
                        <p><code>&lt;button v-on:click="increment"&gt;Increment&lt;/button&gt;</code></p> or
                        <p><code>&lt;button @click="increment"&gt;Increment&lt;/button&gt;</code></p>
                    </div>
                </div>
                <div class="question" id="q-6.1">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">When will an attribute be omitted when bound in an element?</p>
                    <div class="answer">
                        <p>If the value of v-bind:"" is not </p>
                    </div>
                </div>
                <div class="question" id="q-7">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What is the explicit way to implement two way binding on an input element?</p>
                    <div class="answer">
                        <p>use :value="varName" @input="inputFunctionName" in your input element;</p>
<pre><code>&lt;script setup&gt;
import { ref } from 'vue'

const varName = ref('')

function inputFunctionName(e) {
    varName.value = e.target.value
}
&lt;/script&gt;

&lt;template&gt;
    &lt;input :value="varName" @input="inputFunctionName" placeholder="Type here"&gt;
    &lt;p&gt;{{ varName }}&lt;/p&gt;
&lt;/template&gt;</code></pre>
                    </div>
                </div>
                <div class="question" id="q-8">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What is the shorthand for v-bind?</p>
                    <div class="answer">
                        <p>:</p>
<pre><code>&lt; input v-bind:="text"&gt;</code></pre>
                    </div>
                </div>
                <div class="question" id="q-9">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What is the shorthand for v-on?</p>
                    <pre><code>&lt; input v-on:=click="onClickMethod"</code></pre>
                    <div class="answer">
                        <p>@</p>
<pre><code>&lt; input @click="onClickMethod"</code></pre>
                    </div>
                </div>
                <div class="question" id="q-10">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What is the shorthand for two way binding on your input element?</p>
                    <div class="answer">
                        <p><code> &lt; input v-model="text"&gt;</code></p>
                        <p>There is no longer the need for the @input="onInput" function or :value="text" as v-model will directly change the value of your variable "text".value using v-model="text"</p>
                        <h2>Before:</h2>
<pre><code>%lt;script setup&gt;
    import { ref } from 'vue'
    
    const text = ref('')
    
   <strong>function onInput(e) { 
      text.value = e.target.value
   }</strong>
    &lt;/script&gt;
    
    &lt;template&gt;
      &lt;input <strong>:value="text" @input="onInput"</strong> placeholder="Type here"&gt;
      &lt;p&gt;{{ text }}&lt;/p&gt;
    &lt;/template&gt;</code></pre>
                        <h2>After, using v-model</h2>
<pre><code>&lt;script setup&gt;
    import { ref } from 'vue'
    
    const text = ref('')
    &lt;/script&gt;
    
    &lt;template&gt;
      &lt;input <strong>v-model="text"</strong> placeholder="Type here"&gt;
      &lt;p&gt;{{ text }}&lt;/p&gt;
    &lt;/template&gt;</code></pre>
                    </div>
                </div>
                <div class="question" id="q-11">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you conditionally render an element?</p>
                    <div class="answer">
                        <p>use "v-if="</p>
<code>&lt;h1 v-if="showMe"&gt;Conditional Statement!!!&lt;/h1&gt;</code>
                    </div>
                </div>
                <div class="question" id="q-12">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How would you write an if:else block for elements?</p>
                    <div class="answer">
<pre><code>&lt;h1 v-if="truthyVar"&gt;Print if truthy!!!&lt;/h1&gt;
&lt;h1 v-else&gt;Print this if not truthy!!!&lt;/h1&gt;
</code></pre>
                    </div>
                </div>
                <div class="question" id="q-13">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How would you write the following code to use the v-if and v-else?</p>
<pre><code>
&lt;script setup&gt;
    import { ref } from 'vue';

    const awesome = ref(true);
    
    function toggle() {
        // insert code here to change
      }
&lt;/script&gt;
      
&lt;template&gt;
    &lt;button @click="toggle"&gt;Toggle&lt;/button&gt;
    &lt;h1 &gt;Vue is awesome!&lt;/h1&gt;
    &lt;h1 &gt;Oh no 😢&lt;/h1&gt;
&lt;/template&gt;
</code></pre>
                    <div class="answer">
<pre><code>
&lt;script setup&gt;
    import { ref } from 'vue';

    const awesome = ref(true);
    
    function toggle() {
        // insert code here to change
        }
&lt;/script&gt;
        
&lt;template&gt;
    &lt;button @click="toggle"&gt;Toggle&lt;/button&gt;
    &lt;h1 v-if="awesome"&gt;Vue is awesome!&lt;/h1&gt;
    &lt;h1 v-else&gt;Oh no 😢&lt;/h1&gt;
&lt;/template&gt;
    </code></pre>
                    </div>
                </div>
                <div class="question" id="q-14">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">Using a todo list which is an array of objects of the form { id: id++, text: "some text" }, write a for loop to present this as an unordered list of todo items.</p>
                    <div class="answer">
<pre><code>
&lt;ul&gt;
    &lt;li v-for="todo in todos" :key="todo.id"&gt;
        {{ todo.text }}
        &lt;button @click="removeTodo(todo)"&gt;X&lt;/button&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>
                    </div>
                </div>
                <div class="question" id="q-15">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How did you bind the id of the todo list to the li element?</p>
                    <div class="answer">
                        <p>v-bind:key=, or shorthand:  :key=</p>
                    </div>
                </div>
                <div class="question" id="q-16">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What are the if, then, else if, else conditional statements for HTML elements to show?</p>
                    <div class="answer">
                        <p>v-if, v-else-if, v-else</p>
                    </div>
                </div>
                <div class="question" id="q-17">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">You have a boolean variable you need to declare, then toggle.  How?</p>
                    <div class="answer">
<pre><code>let awesome = ref(true);

function toggle() {
    awesome.value = !awesome.value;
}
</code></pre>
                    </div>
                </div>
                <div class="question" id="q-18">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">To directives are needed for rendering a list.  What are they?</p>
                    <div class="answer">
                        <ol>
                            <li><code>v-for="todo in todos"</code></li>
                            <li>:key="todo.id"</li>
                        </ol>

<pre><code>&lt;ul&gt;
    const todo = {
        id: number;
        text: string;
    }

    &lt;li v-for="todo in todos" :key=todo.id"&gt;
        {{ todo.text }}
    &lt;/li&gt;
</code></pre>
                    </div>
                </div>
                <div class="question" id="q-19">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">You have the following array.  How do you access the Second Todo?</p>
<pre><code>const todos = ref([ 
    { id: id++, text: 'First Todo' },
    { id: id++, text: 'Second Todo' },
    { id: id++, text: 'Third Todo' }
]);
</code></pre>
                    <div class="answer">
                        <code>console.log('todo[1]: ', todo[1]);</code> // returns Proxy(Object) {id: 1, text: 'Second Todo'}
                    </div>
                </div>
                <div class="question" id="q-20">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">On the array above, what prints out if you console.log(todos.value)</p>
                    <div class="answer">
                        <p>undefined</p>
                    </div>
                </div>
                <div class="question" id="q-21">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">Again, on the array above, what prints out if you console.log(`todos[0]: `, todos[0]);</p>
                    <div class="answer">
                        <p>{ id: 0, text: 'First Todo' }</p>
                    </div>
                </div>
                <div class="question" id="q-22">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you add a new array item to the todos object array shown above?</p>
                    <div class="answer">
                        <p>todos.value.push( {id: id++, text: newTodo.value } );</p>
                        <p>newTodo is a ref(''), so it will have a value key.</p>
                        <p>todos has a value key which represents (amongst other things) the array of todos.</p>
<pre>todos.value:  
    Proxy(Array) {0: {…}, 1: {…}, 2: {…}}
    [[Handler]]:MutableReactiveHandler
    [[Target]]: Array(4)
    0: {id: 0, text: 'Learn HTML'}
    1: {id: 1, text: 'Learn JavaScript'}
    2: {id: 2, text: 'Learn Vue'}
    3: {id: 3, text: 'Learn C++'}
    length: 4
    [[Prototype]]: Array(0)
    [[IsRevoked]]: false</pre>
                    </div>
                </div>
                <div class="question" id="q-23">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">Remove the 'Learn Vue' from the todo list.  Assume the function passes in a todo object with id and text.</p>
                    <div class="answer">
todos.value = todos.value.filter(t => t !== todo);
                    </div>
                </div>
                <div class="question" id="q-24">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">You need to create an array of objects based on the current state of vars.  How would you do this?</p>
                    <div class="answer">
                        <ol>
                       <li>Define the variable as a computed() that takes an arrow function, and sets the variables based on your conditions.<br>
                       e.g.: <br>
<pre><code>const filteredTodos = computed(() =&gt; {
    return hideCompleted.value 
       ? todos.value.filter((t) =&gt; !t.done)
       : todos.value
})
</code></pre></li>
                        <li>Then create a button where you can set the variable hideCompleted, used in your computed() function callback, that will either hide completed or show all:<br>
<pre><code>&lt;button @click="hideCompleted" = !hideCompleted"&gt;
    {{ hideCompleted ? 'Show all' : 'Hide completed' }}
&lt;/button&gt;
</code></pre></li>
</ol>

                    </div>
                </div>
                <div class="question" id="q-25">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What do we need to do to access the DOM directly?</p>
                    <div class="answer">
                        <ol>
                            <li>import { ref, onMounted } from 'vue'</li>
                            <li>Declare a var a null ref:  <code>const pElementRef = ref(null)</code> because the ref must be null as it will not exist until the component is  mounted.</li>
                            <li>In your element, use <code>ref="pElementRef"</code></li>
                            <li>In your onMounted callback function you can set the value initially.  eg:<br>
<pre><code>onMounted( () => {
    pElementRef.value.textContent = 'mounted!';
});
</code></pre></li>
                        </ol>
<pre><code>&lt;script setup&gt;
    import { ref, onMounted } from 'vue'
    
    const pElementRef = ref(null)
    
    onMounted(() =&gt; {
      pElementRef.value.textContent = 'mounted!'
    })
    &lt;/script&gt;
    
    &lt;template&gt;
      &lt;p ref="pElementRef"&gt;Hello&lt;/p&gt;
    &lt;/template&gt;</code></pre>
                    </div>
                </div>
                <div class="question" id="q-27">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">What is the difference between displaying/accessing the value of <code>const count = ref(0)</code> within the script block and the template block?</code></p>
                    <div class="answer">
                        <p>In the script block, to access the value of count, you must use <code>count.value</code>.</code></p>
                        <p>In the template block, the value may be displayed within double mustaches {{ count }}</p>
                    </div>
                </div>
                <div class="question" id="q-26">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">You have the following code in the &lt;script setup&gt; block.  What is the value of count?</p>
<pre><code>const count = ref(0);
let countString = `The count is: ${count}`

count.value+=1;
</code></pre>
                    <div class="answer">
                        <p>The count is 0</p>
                        <p>Like angular, strings are evaluated only once during onMount.  </p>
                    </div>
                </div>
                <div class="question" id="q-28">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">You want to console.log count each time it is updated.  How would you do this?</p>
                    <div class="answer">
<pre><code>const count = ref(0);
function incrementCount() { count.value += 1 };

watch(count, (newCount) => {
    console.log(`Count has been updated.  newCount is:  ${newCount});
})

incrementCount();
incrementCount();
</code></pre>
<p>The console log will be printed twice -- once for each call to incrementCount, as count has changed.</p>
                    </div>
                </div>
                <div class="question" id="q-29">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do we reference another component in another component's view?</p>
                    <div class="answer">
                        <p>The same way as svelte:</p>
<pre><code>import AnotherComponent from 'AnotherComponent.vue';
&lt;template&gt;
    &lt;AnotherComponent /&gt;
&lt;/template&gt;
</code></pre>
                    </div>
                </div>
                <div class="question" id="q-30">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How do you pass params to a child component, which will not change:</p>
                    <div class="answer">
                        <p>In the child component, use defineProps.  Then define the incomming variable in the child component.</p>
<pre><code>&lt;script setup&gt;
    const props = defineProps({
        msg: String  // parent component has defined msg.  This lets child component know about the var.
    });
&lt;script&gt;
&lt;template&gt;
    &lt;h2&gt;{{ msg }}&lt;/h2&gt;
</code></pre>
                    </div>
                </div>
                <div class="question" id="q-31">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">You will be changing the msg in the child prop.  The parent prop will use the updated msg.  How do you make this happen?</p>
                    <div class="answer">
                       <ol>
                        <li>In the parent component, set the response from child component as: <br>
<pre><code>&lt;script setup&gt;
    import ChildComponent from './ChildComponent.vue';

    const childMsg = ref('Hi from parent component');
&lt;/script&gt;

&lt;template&gt;     
    &lt;ChildComponent @response="(msg) => childMsg = msg" /&gt;
    &lt;h2&gt;childMsg&lt;/h2&gt;
&lt;/template&gt;
</code></pre> </li>
                       <li>In the child component, define an emitter, passing the value of 'response', the parent component's variable as follows:<br>
<pre><code>&lt;script setup&gt;
    const emit = defineEmits(['response'])  // parent components var name.

    emit('response', 'hello from child');
&lt;/script&gt;
</code></pre>                  </li>
                       </ol>
                    </div>
                </div>
                <div class="question" id="q-32">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block">How are slots used in Vue?</p>
                    <div class="answer">
                       <ol> 
                            <li>Just like &lt;h2&gt;, &lt;div&gt; - just pass in the data between the beginning element and end element. <br>
<pre><code>&lt;ChildComponent&gt;This is the content of the slot for the child.&lt;/&gt;</code></pre></li>
                                <li>In the child component, set the default of the slot, if there is any:<br>
<pre><code>&lt;slot&gt;Fallback content&lt;/slot&gt;</code></pre><br>
                            This way if no incoming content for the component, the Fallback content string will be printed where the slot exists.</bfr></li>
                        </ol>
                    </div>
                </div>
                <div class="question" id="q-33">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block"></p>
                    <div class="answer">
                        <p></p>
                    </div>
                </div>
                <div class="question" id="q-34">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block"></p>
                    <div class="answer">
                        <p></p>
                    </div>
                </div>
                <div class="question" id="q-35">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block"></p>
                    <div class="answer">
                        <p></p>
                    </div>
                </div>
                <div class="question" id="q-36">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block"></p>
                    <div class="answer">
                        <p></p>
                    </div>
                </div>
                <div class="question" id="q-37">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block"></p>
                    <div class="answer">
                        <p></p>
                    </div>
                </div>
                <div class="question" id="q-38">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block"></p>
                    <div class="answer">
                        <p></p>
                    </div>
                </div>
                <div class="question" id="q-39">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block"></p>
                    <div class="answer">
                        <p></p>
                    </div>
                </div>
                <div class="question" id="q-40">
                    <button class="buttonClass" id="buttonId" style="display: inline-block">SHOW</button>
                    <button class="hideButtonClass" style="display:inline-block">GOT IT!</button>
                    <p style="display: inline-block"></p>
                    <div class="answer">
                        <p></p>
                    </div>
                </div>
            </div>


	</body>
</html>
